# OpenAI / OpenRouter API Keys
OPENROUTER_API_KEY=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
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1/chat/completions
DEFAULT_MODEL=openrouter/bert-nebulon-alpha

# Pinecone
PINECONE_API_KEY=pcsk_6sviHU_QtriynT2FeqW4SJbRn3bZsV55as42vwxBfs9dGVd7QZQz9p8DqbfNqXu147dCrC
PINECONE_ENVIRONMENT=us-east-1
PINECONE_INDEX_NAME=traceqa-272

# Landing AI
LANDINGAI_API_KEY=a24yMjk0MG1ydGdsYmVibW1qanBhOjlmTVRVSUtPVWVCbHZIcXY4RDBPYzNBd0NTU1FxSkQz

# Application Settings
DEBUG=True
HOST=0.0.0.0
PORT=8000
